*.3gr
*.add
*.ade
*.asp
*.bas
*.bat
*.chm
*.cmd
*.com
*.cpl
*.crt
*.dbx
*.dll
*.exe
*.fon
*.hlp
*.hta
*.ins
*.isp
*.jse
*.lnk
*.mdb
*.mde
*.msc
*.msi
*.msp
*.mst
*.ocx
*.pcd
*.pif
*.reg
*.scr
*.sct
*.shs
*.shb
*.url
*.vb
*.vbe
*.vbs
*.vxd
*.wsc
*.wsf
*.wsh
*.js
*.7z
*.jar
*.ps1
*.psc1
*.ps1xml
*.iso
*.rar
*.ws
*.ps2
*.ps2xml
  
